/* ------------------
 styling for the tables 
   ------------------   */


body
{
	line-height: 1.6em;
}
#hor-minimalist-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 21px;
	/*background: #fff;*/
	margin: 45px;
	width: 900px;
	border-collapse: collapse;
	text-align: left;
}
#hor-minimalist-a th
{
	font-size: 21px;
	font-weight: normal;
	color: #FFF;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#hor-minimalist-a td
{
	color: #FF00FF;
	padding: 9px 9px 0px 8px;
	
}
#hor-minimalist-a tbody tr:hover td
{
	color: #FFF;
}

#hor-minimalist-a-td td
{
	color: #FFF;
	padding: 9px 9px 0px 8px;
	padding: 10px 8px;
	border-bottom: 1px solid #FFF;
}
#hor-minimalist-a-th th
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 21px;
	font-weight: normal;
	color: #fbb44a;
	padding: 9px 9px 0px 8px;
	padding: 1px 1px;
	/*border-bottom: 2px solid #6678b1;*/
}
